.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input{
  // display: inline;
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-align: center;
  border-radius: .1rem;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  // color: white;
}

h2{
  margin: .5rem;
}
.App-link {
  // color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.color-banner{
  min-height: 100px;
}
.content-wrap{
  display: flex;
  width: 100%;

  &>div{
    width: 50%;
  }
}
.inputs-wrap{
  min-height: 40vh;
}
.rgba-wrap,
.hex-wrap{
  p{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
  }
}
.hex-content-wrap{
  display: table;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.rgba-content-wrap{
  display: flex;
  width: 100%;
}
.inputs-wrap label{
  // display: none;
  text-transform: uppercase;
  font-size: .7rem;
  margin-bottom: .5rem;
}

.alpha-input,
.opacity-input {
  opacity: .5;
  pointer-events: none;
}

code{
  font-size: 1.6rem;
}
.copy-button{
  background: none;
  border: none;
  padding: .5rem;
  svg{
    height: 1.4rem;
    width: 1.4rem;
    *{
      fill: white;
    }

  }
}